<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bulesky.zxinglibrary">

    <application>
        <activity android:name=".activity.ScannerActivity"/>
        <activity android:name=".picture.PickPictureActivity"/>
        <activity android:name=".picture.PickPictureTotalActivity"/>
    </application>

</manifest>